* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*border: 1px solid red;*/
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

button {
    border: none;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 40px;
    margin: 10px 0;
}

.header, .footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    align-items: center;
}

.footer {
    justify-content: center;
    height: 100px;
}

.header {
    justify-content: space-around;
    padding: 16px 0;
}

.header p {
    font-size: 24px;
    font-weight: bold;
}

.section-one, 
.section-two, 
.section-three, 
.section-four {
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.section-one {
    background-color: #1F2937;
    color: #E5E7EB;
    gap: 40px;
}

.section-one .text {
    max-width: 450px;
    margin-right: 20px;
    flex: 1 1 auto;
}

.section-one h1 {
    font-size: 48px;
    font-weight: 900;
}

.section-one .image {
    max-width: 550px;
    height: 250px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6e6e6e;
}